<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Base</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% load staticfiles %}
    <script src="{% static "/progressbar.min.js" %}"></script>


    </nav>
  </head>
  <body>

    <div class="container">
      {% block body_block %}

      {% endblock %}



    </div>





  </body>
</html>
